<!--A Design by W3layouts
     Author: W3layout
     Author URL: http://w3layouts.com
     License: Creative Commons Attribution 3.0 Unported
     License URL: http://creativecommons.org/licenses/by/3.0/
   -->
<!-- Modified by Michael Rossi -->
<!DOCTYPE html>
<html>
    <head>
        <title>Gematria</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="gematria" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!-- bootstrap-css -->
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <!--// bootstrap-css -->
        <!-- css -->
        <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
        <!--// css -->
        <link rel="stylesheet" href="css/owl.carousel.css" type="text/css" media="all">
        <link href="css/owl.theme.css" rel="stylesheet">
        <!-- font-awesome icons -->
        <link href="css/font-awesome.css" rel="stylesheet"> 
        <!-- //font-awesome icons -->
        <!-- font -->
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
        <!-- //font -->
        <script src="js/jquery-1.11.1.min.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/SmoothScroll.min.js"></script>
    </head>
    <body>
	<!-- banner -->
	<div class="banner about-bg">
	    <!--header-->
	    <div class="header">
                <div class="logo">
		    <h1><a href="/">Gematria</a></h1>
		</div>
		<div class="top-nav">
		    <span class="menu"><img src="img/menu.png" alt=""/></span>
		    <ul>
			<li><a class="active" href="/">Home</a></li>
			<li><a href="/about">About</a></li>					
		    </ul>
		    <!-- script-for-menu -->
		    <script>					
		     $("span.menu").click(function(){
			 $(".top-nav ul").slideToggle("slow" , function(){
			 });
		     });
		    </script>
		    <!-- script-for-menu -->
		</div>
		<div class="clearfix"> </div>
	    </div>	
	    <!--//header-->
	    <div class="about-heading">
		<h2>Dictionary</h2>
	    </div>
	</div>
	<!-- //banner -->
	
	<div class="blog">
	    <div class="container">
		<div class="agile-blog-grids">
		    <div class="col-md-8 agile-blog-grid-left">
			<div class="agile-blog-grid">
			    <div class="blog-left-grids">
				<div class="blog-left-right">
				    <div class="blog-left-right-top">
					<h4>Results</h4>
				    </div>
				    <div class="blog-left-right-bottom">
				        <h2>{{word}}: {{num}} {{num-list}}=></h2>
                                        {% for item in results %}
                                        {{item.word}}
                                        {% endfor %}
				    </div>
				</div>
				<div class="clearfix"> </div>
			    </div>
			</div>
		    </div>
		    <div class="col-md-4 agile-blog-grid-right">
			<div class="categories">
			    <h3>What word or number do you seek to know the mystical meaning of?</h3>
                            <form method="GET" action="/lookup">
                                <div class="form-group">
                                    <p> Word or Number:
                                        <input class="form-control"
                                               type="text"
                                               name="query"
                                               value="" />
                                    </p>
                                    <input type="submit" class="btn btn-primary" value="Lookup" />
                                </div>
                            </form>
			    <img src="img/gematria.png" alt="Whoa, that's deep!">		
			</div>
		    </div>
                    <div class="agile-blog-grids">
		        <div class="col-md-8 agile-blog-grid-left">
			    <div class="agile-blog-grid">
			        <div class="blog-left-grids">
				    <div class="blog-left-right">
				        <div class="blog-left-right-bottom">
                                            <div class="well">
				                &ldquo;Numerology is the delusion that numbers have
                                                power over events. It is a descendent of number mysticism, the
                                                belief the contemplation of numbers can give mystical and
                                                non-rational insights into life, the universe and everything.&rdquo;
                                                - Underwood Dudley
                                            </div>
				        </div>
				    </div>
				    <div class="clearfix"> </div>
			        </div>
			    </div>
		        </div>
		        <div class="clearfix"> </div>
		    </div>
	        </div>
	    </div>
	</div>
	<!-- footer -->
	<div class="footer">
	    <div class="container">
		<div class="agile-footer-grids">
		    <div class="col-md-3 agile-footer-grid">
			<h4>Gematria?</h4>
                        <p>I am a <a href="/about">gematria</a> dictionary.  I speak English, Ancient Greek, and Ancient Hebrew (as long as it's Unicode).  I can compute the gematria of words or numbers.  For example, I can tell you the hidden meaning of <a href="lookup?query=93">93</a>, <a href="lookup?query=בְּרֵאשִׁית">בְּרֵאשִׁית</a>, <a href="lookup?query=Ιησούς">Ιησούς</a>, or even <a href="lookup?query=Bob">Bob.</a></p>
		    </div>
		    <div class="col-md-3 agile-footer-grid">
                        <h4>Get In Touch</h4>
			<div class="agileinfo-social-grids">
			    <ul>
                                <li><a href="mailto:dionysius.rossi@gmail.com"><i class="fa fa-mail-forward"></i></a></li>
                                <li><a href="https://gitlab.com/file13"><i class="fa fa-gitlab"></i></a></li>
				<li><a href="https://github.com/file13"><i class="fa fa-github"></i></a></li>
                                <li><a href="https://twitter.com/qlippoth777"><i class="fa fa-twitter"></i></a></li>
			    </ul>
			</div>
		    </div>
		    <div class="clearfix"> </div>
		</div>
	    </div>
	</div>
	<!-- //footer -->
	<!-- agileits-copyright -->
	<div class="agileits-copyright">
	    <div class="container">
		<p>© 2017 Michael Rossi. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
	    </div>
	</div>
	<!-- //agileits-copyright -->
    </body>	
</html>
